<h1>Selección de modelo</h1>
<br>
 
<div class="contanier">
 
  <div class="row">
    <div class="col-md-12">
 
      <div class="input-group mb-3">
        <select class="form-select" [(ngModel)]="modelo" aria-label="Default select example">
          <option value="descriptive">Descriptivo</option>
          <option value="diagnostics">Diagnóstico</option>
          <option value="models">Predictivo</option>
          <option value="prevention">Prescriptivo</option>
        </select>
  
      </div>
 
  
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre del dataset" [(ngModel)]="nombreDataSet" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
  
      </div>
  
      <div class="input-group mb-3">
        <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="fecha" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
  
      </div>
    </div>
    <div class="col-md-12">
      <div class="float-start">
        <button type="button" (click)="onSend()" class="btn btn-primary">Send</button>
      </div>
      <div class="float-end">
        <button type="button" class="btn btn-warning">Clear</button>
      </div>
    </div>
    <div *ngIf="response">
      <h1>Modelo creado</h1> 
      <span>{{response['name']}}</span>
      <router-outlet></router-outlet>
    </div>
    
  </div>

</div>
 
<!--aqui va la respuesta-->
